/* LAZIUS DOCUMENTATION STYLESHEET */

body {
    background-color: seashell;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
}

figure#librarianPainting img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure#librarianPainting figcaption {
    margin-top: 5px;
    text-align: center;
}

section {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section h1 {
    padding-left: 5%; 
}

section p {
    text-align: justify;
    text-justify: inter-word;
}

section p:first-of-type {
    text-indent: 25px;
}

/* DESKTOP */

@media screen and (orientation: landscape) and (min-width: 1201px) {
    section {
        width: 66%;
    }
}