/* STYLING FOR LAZIUS 2 */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("../images/lazius-program-background.jpg");
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
    background-attachment: fixed;
}

div#container {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0);
}

ul.inlineList {
    display: block;
    /* width: 66%; */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

ul.inlineList li {
    display: inline;
    margin-right: 15px;
    text-align: center;
}

ul.inlineList li:not(:first-of-type) {
    border-left: 1px solid lightgray;
    padding-left: 10px;
}

td.highlightRed {
    background-color: red;
    color: white;
}

td.alignRight {
    text-align: right;
}

header {
    text-align: center;
}

table#commandTable td:last-child {
    font-weight: bold;
}

footer.standby {
    width: 0px;
    height: 0px;
    display: none;
}

footer.active {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid lightgray;
    z-index: 20px;
}

div#footerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5px;
}

div.removeParameterDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 100%;
    text-align: right;
}

div.removeParameterDiv span {
    display: block;
    float: right;
    font-size: x-large;
    font-weight: bolder;
    margin-right: 10px;
}

div#dbEditingFooter {
    margin-bottom: 10px;
}

div#bugReportDiv {
    order: 1;
}

div#docsDiv {
    order: 2;
}

div#versionDiv {
    order: 3;
}

div#creditsDiv {
    order: 4;
}

div#bugReportDiv p {
    color: white;
}

div.standby {
    width: 0px;
    height: 0px;
    display: none;
}

div.active {
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
}

div#dbEditingRelativeContainer {
    position: relative;
}

.center {
    text-align: center;
}

div#primaryDBInfo {
    display: block;
    width: 33%;
    margin-left: 33%;
    margin-right: 33%;
    margin-bottom: 2.5%;
}

div#primaryDBInfo span {
    display: block;
    float: left;
    text-align: right;
    width: 45%;
    padding-right: 10px;
}

div#primaryDBInfo input {
    text-align: left;
    width: 50%;
}

button.dbEditingButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div#dbEditingContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

div.dbParameterDiv {
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    margin-bottom: 2.5%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: outset;
    border-radius: 15px;
}

div.dbParameterDiv:hover {
    border: inset;
}

div.dbParameterDiv span {
    display: block;
    float: left;
    width: 32%;
}

div.dbParameterDiv input {
    width: 66%;
}

div.dbParameterDiv select {
    width: 66%;
}

div.dbParameterDiv div {
    padding-top: 2.5%;
}

div.dbParameterDiv div:not(:first-child):not(:last-child) {
    border-bottom: 1px solid black;
}

div.arrowDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

div.arrowDiv div {
    width: 50%;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    padding-bottom: 20px;
}

div.dbParameterDiv:first-of-type div.leftArrow {
    visibility: collapse;
}

div.dbParameterDiv:last-of-type div.rightArrow {
    visibility: collapse;
}

div.dbParameterDiv p {
    font-weight: bold;
}

div#dbEditingCloseDiv {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    font-size: xx-large;
}

@-webkit-keyframes blackWhite {
    0% {
        color: black;
    }

    80% {
        color: black;
    }

    81% {
        color: white;
    }

    100% {
        color: white;
    }
}

div#bugReportDiv p.black {
    color: black;
    -webkit-animation-name: blackWhite;
    -webkit-animation-duration: 5s;
    color: white;
}

div#inputContainer {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border: 1px solid black;
    padding: 70px 0;
}

div#outputDiv {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10%;
    background-color: rgba(0,0,0,0);
    z-index: 10;
}

div#outputDiv h2,
.center {
    text-align: center;
}

div#outputDiv table {
    margin-left: auto;
    margin-right: auto;
}

div#outputDiv tr {
    padding-top: 15px;
}

div#outputDiv td {
    padding-left: 15px;
    padding-right: 15px;
}

textarea#importTextArea {
    display: block;
    width: 50%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}