/* STYLING FOR LAZIUS 2 */

div#container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 15%;
}

ul.inlineList li {
    display: inline;
    margin-right: 15px;
}

td.highlightRed {
    background-color: red;
    color: white;
}

td.alignRight {
    text-align: right;
}

header {
    margin-top: 100px;
}

div#bugReportDiv {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 15px;
}

div#bugReportDiv p {
    color: white;
}

@-webkit-keyframes blackWhite {  
    0% { color: black; }
    80% { color: black; }
    81% { color: white;}
    100% { color: white; }
  }

div#bugReportDiv p.black {
color: black;
  -webkit-animation-name: blackWhite;
  -webkit-animation-duration: 5s; 
  color: white;
}

div#inputContainer {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border: 1px solid black;
    padding: 70px 0;
}

div#outputDiv {
    width: 75%;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 20px;
}

div#outputDiv h2, .center {
    text-align: center;
}

div#outputDiv table {
    margin-left: auto;
    margin-right: auto;
}